.brickfolio.bf-animated {
	-webkit-transition: height 0.5s ease;
	transition: height 0.5s ease;
}
.brickfolio.bf-animated .bf-item {
	-webkit-transition: top 0.5s ease, left 0.5s ease, opacity 0.5s ease, height 0.5s ease;
	transition: top 0.5s ease, left 0.5s ease, opacity 0.5s ease, height 0.5s ease;
}
.brickfolio.bf-animated.bf-loaded .bf-item { opacity: 1; -webkit-animation-delay: 0.5s; animation-delay: 0.5s; }
.brickfolio.bf-animated.mixed-delay.bf-loaded .bf-item:nth-child(2n) { -webkit-animation-delay: 0.1s; animation-delay: 0.1s; }
.brickfolio.bf-animated.mixed-delay.bf-loaded .bf-item:nth-child(3n) { -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }
.brickfolio.bf-animated.mixed-delay.bf-loaded .bf-item:nth-child(5n) { -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }

/* fade-in */
.brickfolio.bf-animated.fade-in .bf-item {
	opacity: 0;
}
.brickfolio.bf-animated.fade-in.bf-loaded .bf-item {
	-webkit-animation: fade-in 0.65s ease forwards;
	animation: fade-in 0.65s ease forwards;
}
@-webkit-keyframes fade-in {
	0% { }
	100% { opacity: 1; }
}
@keyframes fade-in {
	0% { }
	100% { opacity: 1; }
}

/* slide-up */
.brickfolio.bf-animated.slide-up .bf-item {
	opacity: 0;
}
.brickfolio.bf-animated.slide-up.bf-loaded .bf-item {
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: slide-up 0.65s ease forwards;
	animation: slide-up 0.65s ease forwards;
}
@-webkit-keyframes slide-up { 0% { } 100% { -webkit-transform: translateY(0); opacity: 1; } }
@keyframes slide-up { 0% { } 100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; } }

/* scale-up */
.brickfolio.bf-animated.scale-up .bf-item {
	opacity: 0;
}
.brickfolio.bf-animated.scale-up.bf-loaded .bf-item {
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	-webkit-animation: scale-up 0.65s ease-in-out forwards;
	animation: scale-up 0.65s ease-in-out forwards;
}
@-webkit-keyframes scale-up {
	0% { }
	100% { -webkit-transform: scale(1); opacity: 1; }
}
@keyframes scale-up {
	0% { }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}

/* swing-down */
.brickfolio.bf-animated.swing-down {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}
.brickfolio.bf-animated.swing-down .bf-item {
	opacity: 0;
}
.brickfolio.bf-animated.swing-down.bf-loaded .bf-item {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-transform: rotateX(-80deg);
	transform: rotateX(-80deg);
	-webkit-animation: swing-down .8s ease-in-out forwards;
	animation: swing-down .8s ease-in-out forwards;
}
@-webkit-keyframes swing-down {
	0% { }
	100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}
@keyframes swing-down {
	0% { }
	100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
}

/* drop */
.brickfolio.bf-animated.drop {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}
.brickfolio.bf-animated.drop .bf-item {
	opacity: 0;
}
.brickfolio.bf-animated.drop.bf-loaded .bf-item {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(400px) translateY(300px) rotateX(-90deg);
	transform: translateZ(400px) translateY(300px) rotateX(-90deg);
	-webkit-animation: drop .8s ease-in-out forwards;
	animation: drop .8s ease-in-out forwards;
}
@-webkit-keyframes drop {
	0% { }
	100% { -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}
@keyframes drop {
	0% { }
	100% { -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg); transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

/* fly */
.brickfolio.bf-animated.fly {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}
.brickfolio.bf-animated.fly .bf-item {
	opacity: 0;
}
.brickfolio.bf-animated.fly.bf-loaded .bf-item {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 50% 50% -300px;
	transform-origin: 50% 50% -300px;
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
	-webkit-animation: fly .8s ease-in-out forwards;
	animation: fly .8s ease-in-out forwards;
}
@-webkit-keyframes fly {
	0% { }
	100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}
@keyframes fly {
	0% { }
	100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
}

/* flip */
.brickfolio.bf-animated.flip {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}
.brickfolio.bf-animated.flip .bf-item {
	opacity: 0;
}
.brickfolio.bf-animated.flip.bf-loaded .bf-item {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-webkit-animation: flip .8s ease-in-out forwards;
	animation: flip .8s ease-in-out forwards;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
@-webkit-keyframes flip {
	0% { }
	100% { -webkit-transform: rotateY(0deg); opacity: 1; }
}
@keyframes flip {
	0% { }
	100% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); opacity: 1; }
}

/* pop-up  */
.brickfolio.bf-animated.pop-up {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}
.brickfolio.bf-animated.pop-up .bf-item {
	opacity: 0;
}
.brickfolio.bf-animated.pop-up.bf-loaded .bf-item {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: scale(0.4);
	transform: scale(0.4);
	-webkit-animation: pop-up .8s ease-in forwards;
	animation: pop-up .8s ease-in forwards;
}
@-webkit-keyframes pop-up {
	0% { }
	70% { -webkit-transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; }
	100% { -webkit-transform: scale(1); opacity: 1; }
}
@keyframes pop-up {
	0% { }
	70% { -webkit-transform: scale(1.1); transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}